<article class="billboard-card rv-b-card">
  <div class="rv-b-card-head">
    <span class="rv-b-zid">ZONE {{indexPadded}}</span>
    <span class="rv-b-zname">{{name}}</span>
    <span class="rv-b-ztime">{{timestamp}}</span>
  </div>
  <div class="rv-b-card-body">
    <div class="rv-b-gps">
      <span class="rv-b-gps-tag">GPS</span>
      <span class="rv-b-gps-val">{{gpsCoordinates}}</span>
    </div>
    <div class="rv-b-faces-txt">
      <div class="rv-b-ft rv-b-ft-a"><span class="rv-b-dot"></span><span>{{faceALabel}}</span></div>
      <div class="rv-b-ft rv-b-ft-b"><span class="rv-b-dot rv-b-dot-g"></span><span>{{faceBLabel}}</span></div>
    </div>
    <div class="rv-b-imgs">
      <figure class="rv-b-fig"><div class="rv-b-fig-i"><img src="{{faceAImage}}" alt="{{faceALabel}}" /></div><figcaption>{{faceALabel}}</figcaption></figure>
      <figure class="rv-b-fig"><div class="rv-b-fig-i"><img src="{{faceBImage}}" alt="{{faceBLabel}}" /></div><figcaption>{{faceBLabel}}</figcaption></figure>
    </div>
  </div>
</article>
