<article class="billboard-card rv-c-card">
  <div class="rv-c-card-head">
    <span class="rv-c-idx">{{indexPadded}}</span>
    <span class="rv-c-vsep"></span>
    <span class="rv-c-zname">{{name}}</span>
    <span class="rv-c-ztime">{{timestamp}}</span>
  </div>
  <div class="rv-c-card-body">
    <p class="rv-c-gps">{{gpsCoordinates}}</p>
    <div class="rv-c-faces">
      <div class="rv-c-fa">
        <span class="rv-c-fdot"></span>
        <span class="rv-c-ftxt">{{faceALabel}}</span>
      </div>
      <div class="rv-c-fb">
        <span class="rv-c-fdot rv-c-fdot-g"></span>
        <span class="rv-c-ftxt">{{faceBLabel}}</span>
      </div>
    </div>
    <div class="rv-c-imgs">
      <figure class="rv-c-fig"><div class="rv-c-fi"><img src="{{faceAImage}}" alt="{{faceALabel}}" /></div><figcaption>{{faceALabel}}</figcaption></figure>
      <figure class="rv-c-fig"><div class="rv-c-fi rv-c-fi-l"><img src="{{faceBImage}}" alt="{{faceBLabel}}" /></div><figcaption>{{faceBLabel}}</figcaption></figure>
    </div>
  </div>
</article>
